*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(46,58,70);
    height: 50px;
}

main{
    background-color: rgb(30,45,59);
    height: 100vh;
    padding-top: 100px;
    
}


.card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container{
    margin: 0 auto;
    max-width: 65%;
}

.card {
    color: white;
    width: 15%;
    height: auto;
    text-align: center;
    padding: 7px;
    background-color: rgb(46,58,70);
    
}

.card .title{

}

.card .author{
    
}

.card .year{
    
}

.card .genre{
    
}
.card img{
    width: 100%;
}